@model InventoryManagement.Models.Inventory

@{
    ViewData["Title"] = "Inventory Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QTY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QTY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bin.BinName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InventoryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
