@model IEnumerable<InventoryManagement.Models.Inventory>

@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QTY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QTY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bin.BinName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventoryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InventoryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
